# Environment
NODE_ENV=development

# Server
PORT=3000

# Database Configuration (Aiven cloud MySQL)
DB_HOST= your_host_name_clound
DB_PORT= your_port_in_clound

DB_NAME=mentix_hub

# Database Users
DB_USER_USER=mentix_user
DB_USER_PASS=mentix_user_pass_2024

DB_DEV_USER=mentix_dev
DB_DEV_PASS=mentix_dev_pass_2024

DB_ROOT_USER=mentix_root
DB_ROOT_PASS=mentix_root_pass_2024

# JWT Configuration
JWT_ACCESS_SECRET= your_secret_key
JWT_REFRESH_SECRET= your_secret_key
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER= your_email
SMTP_PASS= your_password 
SMTP_FROM=noreply@mentixhub.com

# File Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=uploads


