# Environment
NODE_ENV=development

# Server
PORT=3000

# Database Configuration (Aiven cloud MySQL)
DB_HOST=mysql-cloud-host-kimhorng-6dea.e.aivencloud.com
DB_PORT=16586

DB_NAME=mentix_hub

# Database Users
DB_USER_USER=mentix_user
DB_USER_PASS=mentix_user_pass_2024

DB_DEV_USER=mentix_dev
DB_DEV_PASS=mentix_dev_pass_2024

DB_ROOT_USER=mentix_root
DB_ROOT_PASS=mentix_root_pass_2024

# JWT Configuration
JWT_ACCESS_SECRET=2d8cd1d550e2ade48a334fbb3c32d41db443b7c0f38b87b288fb62268de74510e8761f7e88f91700c2b20c163c1f9d7443a1d36dfe06ecb954cb5ccb14d916de
JWT_REFRESH_SECRET=dd5ae7fb81d710f9adb5b0d768d24a5dbcf69b1f541e5e902b369551af6638aaaae6b85d0d22b00b09fe808068e1608e9361ff944acccf93334942943f712696
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=kimhorng.horn03@gmail.com
SMTP_PASS=dvec sqxs hrlg qvwk
SMTP_FROM=noreply@mentixhub.com

# File Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=uploads


